// default root colors

:root {
  --color-primary: #00bcd4;
  --color-primary-light: #00e5ff;
  --color-primary-dark: #0097a7;
  --color-primary-text: #ffffff;
  --color-primary-text-light: #ffffff;
  --color-primary-text-dark: #ffffff;
  --color-secondary: #ff9800;
  --color-secondary-light: #ffc107;
  --color-secondary-dark: #f57c00;
  --color-secondary-text: #ffffff;
  --color-secondary-text-light: #ffffff;
  --color-secondary-text-dark: #ffffff;
  --color-success: #4caf50;
  --color-success-light: #66bb6a;
  --color-success-dark: #388e3c;
  --color-success-text: #ffffff;
  --color-success-text-light: #ffffff;
  --color-success-text-dark: #ffffff;
  --color-warning: #ffc107;
  --color-warning-light: #ffeb3b;
  --color-warning-dark: #ffa000;

  --border-color: #d3d3d3;

  --hover-color: #d3d3d3;

  --blackish: #1f1f1f;
}
