@import "./../../util/colors.scss";

.navbar {
  background-color: var(--navbar);
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 1.6em;
  background: none;
  position: relative;
  top: -3px;
}

.menu-bars svg {
  color: #fff;
}

.navbar .logo {
  margin-left: 2em;
}

.navbar .logo a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 0.8em;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.nav-right {
  position: absolute;
  right: 2em;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  cursor: pointer;
}

.nav-right ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0;
}

.nav-right ul li {
  margin-left: 1em;
}

.nav-right .button {
  background-color: #91170f;
  color: #f5f5f5;
  border: 1px solid #f5f5f5;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 2px;
}

.nav-right .year-label {
  display: flex;
  align-items: center;
  position: relative;
  left: 1em;
  font-weight: bold;
  color: white;
}

.nav-right select {
  background-color: #f5f5f5;
  color: #91170f;
  border: 1px solid #f5f5f5;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 2px;
  margin-right: 1em;
}

.nav-right .button:hover {
  background-color: #f5f5f5;
  color: #91170f;
}

.modal-bg {
  z-index: 30;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
  z-index: 100;
  position: relative;
}
