@import "../../../util/colors.scss";

.table-footer {
  background-color: var(--border-color);
  position: absolute;
  bottom: 0em;
  left: 0;
  height: 2em;
  width: 100%;
  margin: 0;
  padding: 0;
}

.footer-container {
  height: 100%;
}

.footer-container .row {
  height: 100%;
}

.table-footer .col-md-6 {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
}

.image-container {
  height: 5em;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  width: 100%;
}

.table-container .websiteLink {
  font-size: 0.9em;
}

.table-container .repsC_val {
  font-size: 0.9em;
  font-weight: bold;
  margin-left: 0.5em;
}

.table-container .otherInfo {
  font-size: 0.9em;
  text-align: left;
  border-top: 1px solid var(--border-color);
  margin-top: 0.5em;
  padding-top: 0.5em;
}

.table-container .col-auto {
  padding: 0;
  margin: 0 0.5em;
}

.table-container .repsC_key {
  font-size: 0.9em;
  margin: 0;
}

.table-container .companyName {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: left;
}

.table-container .container {
  width: 100%;
  margin: 0.5em;
}

.table-container {
  width: 15em;
  height: 15em;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
}

.table-container .blank-td {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.table-container .blank-td svg {
  color: white;
  opacity: 0.2;
}

.table-container .blank-td:hover svg {
  color: black;
}

.table-container .blank-td:hover {
  background-color: var(--border-color);
}

.border {
  border: 1px solid var(--border-color);
}

.fav {
  color: var(--yellow);
}

.isRoute {
  color: var(--blue);
}
