#header {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  height: 3em;
}

#header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  width: 50%;
  position: absolute;
  left: 1em;
}

#header-left-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  font-size: 0.5rem;
}

#header-right {
  float: right;
  position: absolute;
  right: 1em;
}

#header-right-account {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3em;
  margin-right: 0.5rem;
}
