.box {
  width: 100%;
  height: calc(100%);
  position: absolute;
  left: 0;
  }
  
  .circle {
    align-items: center;
    background-color: orange;
    border-radius: 50%;
    display: flex;
    font-size: 14px;
    height: 120px;
    justify-content: center;
    width: 120px;
  }

  .map-container {
    width: 100%;
    height: calc(100%);
    position: absolute;
    left: 0;
}
