@import "../../util/colors.scss";

.subscribe-container .input-group label {
  display: block;
  width: 100%;
}

.subscribe-container .input-group input {
  width: 90%;
  position: relative;
  left: 5%;
}

.subscribe-container .input-group textarea {
  width: 90%;
  height: 300px;
  position: relative;
  left: 5%;
}

.subscribe-container .sf-submit {
  width: 100%;
  display: flex;
  justify-content: center;
}

.subscribe-container .sf-submit button {
  position: relative;
  top: 1em;
}

.subscribe-container .sf-unsubscribe {
  position: relative;
  top: 5em;
}

.subscribe-container {
  padding: 0;
  margin: 0px auto;
  width: 30em;
  height: 20em;
  border: 1px solid var(--border-color);
}

.subscribe-wrapper {
  width: 100%;
  position: relative;
  top: 14%;
}

.sePage {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.subscribe-response {
  position: relative;
  top: 2em;
}
